.mid {
	text-align: center;
	}
.large {
	font-size: 60px;
	}
.slarge {
	font-size: 45px;
}
.medium {
	font-size: 30px;
	}
.small {
font-size: 15px;
	}
.bottom {
	vertical-align: text-bottom;
	}
.topnav {
	background-color: #6ac6ff;
	overflow: hidden;
	}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}
.topnav a:hover {
	background-color: #a19ee4;
	color: black;
	}
.topnav a.active {
	background-color: #d62963;
	color: white;
	}
