<style>
	
	.mid {
	text-align: center;
		}
	.large {
	font-size: 60px;
		}
	.medium {
	font-size: 30px;
		}
	.small {
	font-size: 15px;
		}
	.bottom {
		vertical-align: text-bottom;
		}
	
</style>