#menu {
  display: flex;
  align-content: center;
  justify-content: center;
}

#menu div{
  text-decoration: none;
  box-shadow: none;
  outline: 0;
  align-items: center;
  margin: auto;
  font-size: 25px;
  
}

.button {
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgb(104, 204, 222);
}

.active {
	border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgb(28, 187, 215);
}


.dropdown {
  float: left;
  overflow: hidden;
}
  
  
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: rgb(1, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
  
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}